<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%logger{30} %green(%X{debugId}) %msg%n</pattern>
        </encoder>
    </appender>
    <!-- <logger name="slick" level="DEBUG"/> -->
    <logger name="slick" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
